<div class="headder">
  <div class="headder_left_content">
    <%= link_to "YOMEBA", root_path, class: "headder_logo" %>
  </div>
</div>

<div class="sign_up_space">
  <div class="sign_up_box">
    <h2 class="sign_up_user_name_top">ユーザー登録</h2>

    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>      
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :nickname %><br><em class="characters_minimum">(20 characters maximum)</em><br />
        <%= f.text_field :nickname, autofocus: true,  maxlength: "20" %>
      </div>

      <div class="field">
        <%= f.label :image %><br/>
        <div class="image_box">
          <%= f.file_field :image %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em class="characters_minimum"><br>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>
