<div class="book_ranking_space">
  <div class="book_ranking_space_top">
    読んだ絵本の回数ランキング！！！
  </div>
  <div class="book_ranking_content">
    <div class="book_ranking_content_box_topic">
      <div class="book_ranking_content_topic">
        <%= '順位' %>
      </div>
      <div class="book_ranking_content_detail_topic">
        <%= '本のタイトル' %>
      </div>
      <div class="book_ranking_content_detail_topic">
        <%= 'ジャンル名' %>
      </div>
      <div class="book_ranking_content_detail_topic">
        <%= '読んだ回数' %>
      </div>
    </div>
    <% @read_book_logs.each_with_index do |book,i| %>
      <div class="book_ranking_content_box">
        <div class="book_ranking_content_rank">
          <%= "#{i+1}位"%>
        </div>
        <div class="book_ranking_content_detail">
          <%= book[0][0] %>
        </div>
        <div class="book_ranking_content_detail">
          <%= book[0][1] %>
        </div>
        <div class="book_ranking_content_detail">
          <%= "#{book[1]}回" %>
        </div>
      </div>
    <% end %>
  </div>
</div>