<!DOCTYPE html>
<html>
  <head>
    <title>YOMEBA</title>
    <meta content="絵本は、どのように選んでいますか？人気ランキング？
      親の趣向？インフルエンサーの提案？どれも、素晴らしいと思います。ただ、お子様の示す興味は、1人1人違います。
      このアプリで、お子様の興味分野を調べ、次に読む絵本を選ぶ判断材料にしてくださると嬉しいです！" 
      name="description"
    >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" 
      type="text/css" 
      href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css"
    >
    <%= stylesheet_link_tag 'application', 
      media: 'all', 
      'data-turbolinks-track': 'reload' 
    %>
    <%= javascript_pack_tag    'application' %>
  </head>

  <body>
    <div class="notification">
      <% flash.each do |message_type, message| %>
        <%= message %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
